/*
Main page grid layout
*/
#main-container {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr) 1.5fr 2fr;
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  width: 100vw;
  height: 93vh;
}
#cons-btn {
  grid-area: 1 / 1 / 2 / 2;
  margin-bottom: -0.5rem;
}
#prod-btn {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: -0.5rem;
}
#res-btn {
  grid-area: 1 / 3 / 2 / 4;
  margin-bottom: -0.5rem;
}
#country-list {
  grid-area: 1 / 4 / 2 / 5;
  margin-bottom: -0.5rem;
}
#year-range-container {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-area: 1 / 5 / 2 / 6;
  align-items: center;
  grid-column-gap: 12px;
  margin-bottom: -0.5rem;
}
#map-container {
  grid-area: 2 / 1 / 7 / 5;
}
#curve-container {
  grid-area: 7 / 1 / 10 / 5;
}
#pie-chart-container {
  grid-area: 2 / 5 / 6 / 6;
}
#mix-chart-container {
  grid-area: 6 / 5 / 10 / 6;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
#mix-title {
  margin-bottom: 1.5rem;
}


/*
Components styling
*/
hr {
  margin: 0;
  border-top: 1px #d5dce2 solid;
}

#country-list-box {
  max-height: 16rem;
  overflow-y: scroll;
}

/*
Map styling
*/
.map-background {
  fill: transparent;
}

.map-tooltip {   
  position: absolute;
  padding: 7px;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  white-space: pre-line;
}

.label-text{
	stroke-width: 2px;
}
